
**Task:01**

**01.What is panda?**

Panda is a powerful python library for data manipulation and analysis. It provides an easy to use data structure which are series & dataframes.

In [2]:
import pandas as pd

02.Create Series in pandas.

In [3]:
s= pd.Series([10,20,30,40],index=['a','b','c','d'])
print(f"Series is \n{s}")

Series is
a    10
b    20
c    30
d    40
dtype: int64

**03.Creating Dataframe in pandas.**

In [8]:
data = {'Name':['Alice','Bob'],'Age':[25,30]}
df = pd.DataFrame(data)
print(f"Dataframe is \n{df}")

Dataframe is
    Name  Age
0  Alice   25
1    Bob   30

**04.Data saving in Excel.**

In [12]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [27]:
from google.colab import files

df = pd.DataFrame(df)
df.to_excel('data.xlsx', index=False)
files.download('data.xlsx')

In [39]:
# Step 1: Install openpyxl (for Excel support)
%pip install -q openpyxl
# Step 2: Import necessary libraries
import pandas as pd
from google.colab import files

# Step 3: Create sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Department': ['AI', 'ML', 'DS', 'AI'],
    'Score': [85, 90, 88, 92]
}
df = pd.DataFrame(data)
# Step 4: Save to Excel
df.to_excel('data.xlsx', index=False)
# Step 5: Download the Excel file
files.download('data.xlsx')

**05Dataframe Operations**

i.View First row

In [40]:
from google.colab import files
uploaded = files.upload()

df = pd.read_excel('data.xlsx', engine='openpyxl')

Saving data (1).xlsx to data (1).xlsx

In [33]:

print(df.head(1))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa

ii.View Last row

In [41]:
print(df.tail(1))

    Name  Age Department  Score
3  David   28         AI     92

iii.View dataframe info

In [42]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   Department  4 non-null      object
 3   Score       4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None

iv.View dataframe description

In [43]:
print(df.describe())

             Age      Score
count   4.000000   4.000000
mean   29.500000  88.750000
std     4.203173   2.986079
min    25.000000  85.000000
25%    27.250000  87.250000
50%    29.000000  89.000000
75%    31.250000  90.500000
max    35.000000  92.000000

v.Selecting, Filtering, select by label (already finished)

In [45]:
print(df[df['Age'] > 28])
print(df.loc[0])

      Name  Age Department  Score
1      Bob   30         ML     90
2  Charlie   35         DS     88
Name          Alice
Age              25
Department       AI
Score            85
Name: 0, dtype: object

**06.Create Dataframe with missing values.**

In [46]:
import numpy as np

data_with_nan = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, np.nan, 35]
}
df_nan = pd.DataFrame(data_with_nan)
print(df_nan)

      Name   Age
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0

07.**Handling missing value using Pandas**

i.Drop missing value

In [47]:
print(df_nan.dropna())

      Name   Age
0    Alice  25.0
2  Charlie  35.0

ii.Fill missing values

In [48]:
print(df_nan.fillna(0))

      Name   Age
0    Alice  25.0
1      Bob   0.0
2  Charlie  35.0

iii.Interpolation

In [49]:
print(df_nan.interpolate())

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  35.0

/tmp/ipython-input-49-3120111489.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  print(df_nan.interpolate())

**08.Data Transformation**

i.Renaming Columns

In [50]:
df_renamed = df.rename(columns={'Name': 'Full Name'})
print(df_renamed)

  Full Name  Age Department  Score
0     Alice   25         AI     85
1       Bob   30         ML     90
2   Charlie   35         DS     88
3     David   28         AI     92

ii.Changing Data Types

In [51]:
df['Age'] = df['Age'].astype(float)
print(df.dtypes)

Name           object
Age           float64
Department     object
Score           int64
dtype: object

iii.Creating or Modifying Column

In [52]:
df['Age in 5 Years'] = df['Age'] + 5
print(df)

      Name   Age Department  Score  Age in 5 Years
0    Alice  25.0         AI     85            30.0
1      Bob  30.0         ML     90            35.0
2  Charlie  35.0         DS     88            40.0
3    David  28.0         AI     92            33.0

**Task:02**

**01.Random Dataset Creation**

In [10]:
import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(54)

# Number of rows
n = 100

# Create a DataFrame with synthetic data
data = {
    'ID': range(1, n + 1),
    'Name': np.random.choice(['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'], size=n),
    'Age': np.random.randint(18, 65, size=n).astype(float),  # Use float for missing values
    'Salary': np.random.randint(30000, 100000, size=n).astype(float),
    'Department': np.random.choice(['HR', 'IT', 'Finance', 'Marketing', 'Operations'], size=n),
    'JoinDate': pd.date_range(start='2020-01-01', periods=n, freq='D')
}

df_big = pd.DataFrame(data)

# Introduce missing values randomly in a few columns (10% missing rate per column)
for col in ['Name', 'Age', 'Salary', 'Department']:
    df_big.loc[df_big.sample(frac=0.1).index, col] = np.nan

print(df_big.head(10))

   ID     Name   Age   Salary  Department   JoinDate
0   1    Frank  46.0  55979.0     Finance 2020-01-01
1   2  Charlie  54.0  87647.0  Operations 2020-01-02
2   3      Bob  24.0  52917.0  Operations 2020-01-03
3   4    Alice  23.0  88162.0          HR 2020-01-04
4   5    Alice  31.0  54790.0   Marketing 2020-01-05
5   6      Bob  56.0  67864.0  Operations 2020-01-06
6   7      NaN  48.0  90311.0         NaN 2020-01-07
7   8      Bob  49.0  94097.0          HR 2020-01-08
8   9      Eve  39.0  41440.0     Finance 2020-01-09
9  10      Eve   NaN  71345.0  Operations 2020-01-10

In [11]:
df_big.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          100 non-null    int64
 1   Name        90 non-null     object
 2   Age         90 non-null     float64
 3   Salary      90 non-null     float64
 4   Department  90 non-null     object
 5   JoinDate    100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 4.8+ KB

In [12]:
df_big.describe(include='all')

,ID,Name,Age,Salary,Department,JoinDate
count,100.000000,90,90.000000,90.000000,90,100
unique,NaN,6,NaN,NaN,5,NaN
top,NaN,Eve,NaN,NaN,HR,NaN
freq,NaN,20,NaN,NaN,21,NaN
mean,50.500000,NaN,41.355556,66333.088889,NaN,2020-02-19 12:00:00
min,1.000000,NaN,18.000000,30766.000000,NaN,2020-01-01 00:00:00
25%,25.750000,NaN,28.750000,49565.500000,NaN,2020-01-25 18:00:00
50%,50.500000,NaN,40.000000,65382.000000,NaN,2020-02-19 12:00:00
75%,75.250000,NaN,53.000000,87769.250000,NaN,2020-03-15 06:00:00
max,100.000000,NaN,64.000000,98645.000000,NaN,2020-04-09 00:00:00
std,29.011492,NaN,13.404939,21143.471113,NaN,NaN

**02.Check missing value**

In [14]:
# Check for missing values
df_big.isnull().sum()

ID             0
Name          10
Age           10
Salary        10
Department    10
JoinDate       0
dtype: int64

**03.Handling missing Data**

In [16]:
df_big[['Age', 'Salary']] = df_big[['Age', 'Salary']].interpolate()
df_big['Salary'] = df_big['Salary'].bfill()

print(df_big)

     ID     Name   Age   Salary  Department   JoinDate
0     1    Frank  46.0  55979.0     Finance 2020-01-01
1     2  Charlie  54.0  87647.0  Operations 2020-01-02
2     3      Bob  24.0  52917.0  Operations 2020-01-03
3     4    Alice  23.0  88162.0          HR 2020-01-04
4     5    Alice  31.0  54790.0   Marketing 2020-01-05
..  ...      ...   ...      ...         ...        ...
95   96      Eve  25.0  91258.0          HR 2020-04-05
96   97    Frank  43.0  75947.0          IT 2020-04-06
97   98  Charlie  21.0  60636.0   Marketing 2020-04-07
98   99      Eve  26.0  87596.0          HR 2020-04-08
99  100    Frank  31.0  34859.0          HR 2020-04-09

[100 rows x 6 columns]

In [21]:
df_big['Name'] = df_big['Name'].ffill()
df_big['Department'] = df_big['Department'].fillna(df_big['Department'].mode()[0])

print(df_big)

     ID     Name   Age   Salary  Department   JoinDate
0     1    Frank  46.0  55979.0     Finance 2020-01-01
1     2  Charlie  54.0  87647.0  Operations 2020-01-02
2     3      Bob  24.0  52917.0  Operations 2020-01-03
3     4    Alice  23.0  88162.0          HR 2020-01-04
4     5    Alice  31.0  54790.0   Marketing 2020-01-05
..  ...      ...   ...      ...         ...        ...
95   96      Eve  25.0  91258.0          HR 2020-04-05
96   97    Frank  43.0  75947.0          IT 2020-04-06
97   98  Charlie  21.0  60636.0   Marketing 2020-04-07
98   99      Eve  26.0  87596.0          HR 2020-04-08
99  100    Frank  31.0  34859.0          HR 2020-04-09

[100 rows x 6 columns]

**04.Transform your Data**

In [19]:
df['Grade'] = pd.cut(df['Score'], bins=[0, 60, 75, 90, 100],
                     labels=['Poor', 'Average', 'Good', 'Excellent'])
print(df)

   ID     Name Department      Score      Grade
0   1    Alice         AI  62.000000    Average
1   2      Bob         ML  51.000000       Poor
2   3  Charlie         AI  88.000000       Good
3   4    David         ML  74.777778    Average
4   5      Eve         ML  73.000000    Average
5   6    Frank         DS  96.000000  Excellent
6   7    Grace         AI  74.000000    Average
7   8   Hannah         AI  67.000000    Average
8   9     Ivan         AI  87.000000       Good
9  10     Judy         AI  75.000000    Average

In [23]:
#Rename Columns:
df_big.rename(columns={'Name': 'Employee Name'}, inplace=True)

df_big['Age'] = df_big['Age'].astype(int)
df_big['Salary'] = df_big['Salary'].astype(float)

print(df_big)

     ID Employee Name  Age   Salary  Department   JoinDate
0     1         Frank   46  55979.0     Finance 2020-01-01
1     2       Charlie   54  87647.0  Operations 2020-01-02
2     3           Bob   24  52917.0  Operations 2020-01-03
3     4         Alice   23  88162.0          HR 2020-01-04
4     5         Alice   31  54790.0   Marketing 2020-01-05
..  ...           ...  ...      ...         ...        ...
95   96           Eve   25  91258.0          HR 2020-04-05
96   97         Frank   43  75947.0          IT 2020-04-06
97   98       Charlie   21  60636.0   Marketing 2020-04-07
98   99           Eve   26  87596.0          HR 2020-04-08
99  100         Frank   31  34859.0          HR 2020-04-09

[100 rows x 6 columns]

In [24]:
#create New Columns
df_big['Bonus Salary'] = df_big['Salary']*1.10
print (df_big)

     ID Employee Name  Age   Salary  Department   JoinDate  Bonus Salary
0     1         Frank   46  55979.0     Finance 2020-01-01       61576.9
1     2       Charlie   54  87647.0  Operations 2020-01-02       96411.7
2     3           Bob   24  52917.0  Operations 2020-01-03       58208.7
3     4         Alice   23  88162.0          HR 2020-01-04       96978.2
4     5         Alice   31  54790.0   Marketing 2020-01-05       60269.0
..  ...           ...  ...      ...         ...        ...           ...
95   96           Eve   25  91258.0          HR 2020-04-05      100383.8
96   97         Frank   43  75947.0          IT 2020-04-06       83541.7
97   98       Charlie   21  60636.0   Marketing 2020-04-07       66699.6
98   99           Eve   26  87596.0          HR 2020-04-08       96355.6
99  100         Frank   31  34859.0          HR 2020-04-09       38344.9

[100 rows x 7 columns]

In [26]:
print(df_big.head(10))

   ID Employee Name  Age   Salary  Department   JoinDate  Bonus Salary
0   1         Frank   46  55979.0     Finance 2020-01-01       61576.9
1   2       Charlie   54  87647.0  Operations 2020-01-02       96411.7
2   3           Bob   24  52917.0  Operations 2020-01-03       58208.7
3   4         Alice   23  88162.0          HR 2020-01-04       96978.2
4   5         Alice   31  54790.0   Marketing 2020-01-05       60269.0
5   6           Bob   56  67864.0  Operations 2020-01-06       74650.4
6   7           Bob   48  90311.0          HR 2020-01-07       99342.1
7   8           Bob   49  94097.0          HR 2020-01-08      103506.7
8   9           Eve   39  41440.0     Finance 2020-01-09       45584.0
9  10           Eve   40  71345.0  Operations 2020-01-10       78479.5

**05.Combining & Merging Dataframes**

In [27]:
df2 = pd.DataFrame({
    'ID': [11, 12],
    'Name': ['Kate', 'Leo'],
    'Department': ['AI', 'DS'],
    'Score': [82, 76]
})

In [31]:
print(df2)

   ID  Name Department  Score
0  11  Kate         AI     82
1  12   Leo         DS     76

I.Concatenation

In [33]:
df_concat = pd.concat([df, df2], ignore_index=True)
print(df_concat)

    ID     Name Department      Score      Grade
0    1    Alice         AI  62.000000    Average
1    2      Bob         ML  51.000000       Poor
2    3  Charlie         AI  88.000000       Good
3    4    David         ML  74.777778    Average
4    5      Eve         ML  73.000000    Average
5    6    Frank         DS  96.000000  Excellent
6    7    Grace         AI  74.000000    Average
7    8   Hannah         AI  67.000000    Average
8    9     Ivan         AI  87.000000       Good
9   10     Judy         AI  75.000000    Average
10  11     Kate         AI  82.000000        NaN
11  12      Leo         DS  76.000000        NaN

II.Merging

In [34]:
df_scores = pd.DataFrame({'ID': [1, 2, 3], 'Bonus': [5, 10, 8]})
df_merged = pd.merge(df, df_scores, on='ID', how='left')
print(df_merged)

   ID     Name Department      Score      Grade  Bonus
0   1    Alice         AI  62.000000    Average    5.0
1   2      Bob         ML  51.000000       Poor   10.0
2   3  Charlie         AI  88.000000       Good    8.0
3   4    David         ML  74.777778    Average    NaN
4   5      Eve         ML  73.000000    Average    NaN
5   6    Frank         DS  96.000000  Excellent    NaN
6   7    Grace         AI  74.000000    Average    NaN
7   8   Hannah         AI  67.000000    Average    NaN
8   9     Ivan         AI  87.000000       Good    NaN
9  10     Judy         AI  75.000000    Average    NaN

II.Joining

In [37]:
df_a = df.set_index('ID')
df_b = df_scores.set_index('ID')
df_joined = df_a.join(df_b)
df_joined.reset_index()

   ID     Name Department      Score      Grade  Bonus
0   1    Alice         AI  62.000000    Average    5.0
1   2      Bob         ML  51.000000       Poor   10.0
2   3  Charlie         AI  88.000000       Good    8.0
3   4    David         ML  74.777778    Average    NaN
4   5      Eve         ML  73.000000    Average    NaN
5   6    Frank         DS  96.000000  Excellent    NaN
6   7    Grace         AI  74.000000    Average    NaN
7   8   Hannah         AI  67.000000    Average    NaN
8   9     Ivan         AI  87.000000       Good    NaN
9  10     Judy         AI  75.000000    Average    NaN

In [38]:
print(df_joined)

       Name Department      Score      Grade  Bonus
ID
1     Alice         AI  62.000000    Average    5.0
2       Bob         ML  51.000000       Poor   10.0
3   Charlie         AI  88.000000       Good    8.0
4     David         ML  74.777778    Average    NaN
5       Eve         ML  73.000000    Average    NaN
6     Frank         DS  96.000000  Excellent    NaN
7     Grace         AI  74.000000    Average    NaN
8    Hannah         AI  67.000000    Average    NaN
9      Ivan         AI  87.000000       Good    NaN
10     Judy         AI  75.000000    Average    NaN

**05.Group Data**

I.Iterate over groups

In [39]:
grouped = df.groupby('Department')
for name, group in grouped:
    print(f"Group: {name}")
    print(group)

Group: AI
   ID     Name Department  Score    Grade
0   1    Alice         AI   62.0  Average
2   3  Charlie         AI   88.0     Good
6   7    Grace         AI   74.0  Average
7   8   Hannah         AI   67.0  Average
8   9     Ivan         AI   87.0     Good
9  10     Judy         AI   75.0  Average
Group: DS
   ID   Name Department  Score      Grade
5   6  Frank         DS   96.0  Excellent
Group: ML
   ID   Name Department      Score    Grade
1   2    Bob         ML  51.000000     Poor
3   4  David         ML  74.777778  Average
4   5    Eve         ML  73.000000  Average

II.Apply Aggregation

In [40]:
df.groupby('Department')['Score'].mean()

Department
AI    75.500000
DS    96.000000
ML    66.259259
Name: Score, dtype: float64

**07.Calculating Summary Statistics for Group Data**

I.Aggregation using groupby

In [41]:
df.groupby('Department').agg({
    'Score': ['mean', 'max', 'min']
})

                Score
                 mean        max   min
Department
AI          75.500000  88.000000  62.0
DS          96.000000  96.000000  96.0
ML          66.259259  74.777778  51.0

II.Aggregation using pivot_table

In [42]:
df.pivot_table(values='Score', index='Department', aggfunc='mean')

                Score
Department
AI          75.500000
DS          96.000000
ML          66.259259

III.Custom Aggregation using .agg()

In [43]:
df.groupby('Department').agg(
    Score_Mean=('Score', 'mean'),
    Count=('Score', 'count'),
    Std_Dev=('Score', 'std')
)

            Score_Mean  Count    Std_Dev
Department
AI           75.500000      6  10.445095
DS           96.000000      1        NaN
ML           66.259259      3  13.244768